<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="Shortcut Icon" href="${request.contextPath}/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/css/font.css">
    <link rel="stylesheet" href="${request.contextPath}/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="${request.contextPath}/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="${request.contextPath}/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>

</head>
<body>

    <!--右边主体内容-->
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-card-body ">
                <form class="layui-form layui-col-space5" action="/userinfo/list" method="get">
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" class="layui-input"  autocomplete="off" placeholder="用户名" name="username" id="username">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" class="layui-input"  autocomplete="off" placeholder="用户角色" name="role" id="role">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </form>
            </div>
            <div class="layui-card-body ">
                <table id="user" class="layui-table layui-form">
                    <thead>
                    <tr>
                        <!-- <th><input type="checkbox" class="checkAll" /></th>&ndash;&gt;-->
                        <th lay-data="{field:'id', width:100,sort:true}">ID</th>
                        <th lay-data="{field:'username', width:100}">用户名</th>
                        <th lay-data="{field:'role', width:100}">角色</th>
                        <th lay-data="{field:'tel', width:100}">手机</th>
                        <th lay-data="{field:'address', width:100}">地址</th>
                        <th lay-data="{field:'create_date', width:100}">注册时间</th>
                        <th >操作&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="layui-btn" onclick="addpage('/userinfo/useradd')"><i class="layui-icon">&#xe608;</i> 添加</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="user_list_tbody">
                    <#list users as p>
                    <tr>
                        <td>${p.id!''}</td>
                        <td>${p.username!''}</td>
                        <td>${p.role!''}</td>
                        <td>${p.tel!''}</td>
                        <td>${p.address!''}</td>
                        <td>${p.create_date!''}</td>
                        <td>
                            <button class="layui-btn" onclick="showpage('/userinfoshow/',${p.id!''})"><i class="layui-icon">&#xe715;</i></button>
                            <button class="layui-btn" onclick="editpage('/userinfo/',${p.id!''})"><i class="layui-icon">&#xe642;</i></button>
                            <button class="layui-btn" onclick="del('/userinfo/',${p.id!''})"><i class="layui-icon">&#xe640;</i></button>
                        </td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
            <div class="layui-card-body ">
                <div class="page">
                    <div>
                        <a class="prev" href="">&lt;&lt;</a>
                        <a class="num" href="">1</a>
                        <span class="current">2</span>
                        <a class="num" href="">3</a>
                        <a class="num" href="">489</a>
                        <a class="next" href="">&gt;&gt;</a>
                    </div>
                </div>
            </div>
           </div>
        </div>
        <!--用户列表-->
    </div>
    <!--右边主体内容-->
    <!--事件函数js代码-->
    <#include "${request.contextPath}/include/footop.html"/>
</body>
</html>
