<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="Shortcut Icon" href="${request.contextPath}/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/css/font.css">
    <link rel="stylesheet" href="${request.contextPath}/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="${request.contextPath}/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="${request.contextPath}/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--右边主体内容-->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card-body ">
            <form class="layui-form layui-col-space5" action="/alarm/list" method="get">
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" class="layui-input"  autocomplete="off" placeholder="警告记录ID" name="id" id="id">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" class="layui-input"  autocomplete="off" placeholder="设备ID" name="deviceId" id="deviceId">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </form>
        </div>
        <div class="layui-card-body ">
            <table id="alarm" class="layui-table layui-form">
            <thead>
                <tr>
                    <!-- <th><input type="checkbox" class="checkAll" /></th>&ndash;&gt;-->
                    <th lay-data="{field:'id', width:100,sort:true}">记录ID</th>
                    <th lay-data="{field:'deviceId', width:100}">设备ID</th>
                    <th lay-data="{field:'state', width:100}">警告级别</th>
                    <th lay-data="{field:'alarminfo', width:100}">警告信息</th>
                    <th lay-data="{field:'createdate', width:100}">产生时间</th>
                    <th lay-data="{field:'elsepara', width:100}">备注信息</th>
                    <th >操作&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="layui-btn" onclick="addpage('/alarm/alarmInfoadd')"><i class="layui-icon">&#xe608;</i> 添加</button>
                    </th>
                </tr>
                </thead>
                <tbody id="alarm_list_tbody">
                <#list alarms!'' as p>
                <tr>
                    <td>${p.id!''}</td>
                    <td>${p.deviceId!'295'}</td>
                    <td>${p.state!''}</td>
                    <td>${p.alarminfo!''}</td>
                    <td>${p.createdate!''}</td>
                    <td>${p.elsepara!''}</td>
                    <td>
                        <button class="layui-btn" onclick="showpage('/alarmshow/',${p.id!''})"><i class="layui-icon">&#xe715;</i></button>
                        <button class="layui-btn" onclick="editpage('/alarm/',${p.id!''})"><i class="layui-icon">&#xe642;</i></button>
                        <button class="layui-btn" onclick="del('/alarm/',${p.id!''})"><i class="layui-icon">&#xe640;</i></button>
                    </td>
                </tr>
                </#list>
                </tbody>
            </table>
        </div>
    </div>
    <!--设备列表-->
</div>
<!--<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'alarm' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 20 //数据总数，从服务端得到
        });
    });
</script>-->
<!--右边主体内容-->
<#include "${request.contextPath}/include/footer.html"/>
<!--事件函数js代码-->
<#include "${request.contextPath}/include/footop.html"/>
</body>
</html>
