<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="Shortcut Icon" href="${request.contextPath}/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/css/font.css">
    <link rel="stylesheet" href="${request.contextPath}/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="${request.contextPath}/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="${request.contextPath}/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card-body ">
            <form class="layui-form layui-col-space5" action="/monitor/list" method="get">
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" class="layui-input"  autocomplete="off" placeholder="项目名称" name="name" id="name">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" class="layui-input"  autocomplete="off" placeholder="创建者ID" name="userid" id="userid">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </form>
        </div>
        <div class="layui-card-body ">
            <table id="monitor" class="layui-table layui-form">
                <thead>
                <tr>
                    <!-- <th><input userid="checkbox" class="checkAll" /></th>&ndash;&gt;-->
                    <th lay-data="{field:'id', width:100,sort:true}">项目ID</th>
                    <th lay-data="{field:'name', width:100}">项目名称</th>
                    <th lay-data="{field:'userid', width:100}">创建者ID</th>
                    <th lay-data="{field:'location', width:100}">项目位置</th>
                    <th lay-data="{field:'version', width:100}">版本</th>
                    <th lay-data="{field:'states', width:100}">项目状态</th>
                    <th lay-data="{field:'createdate', width:100}">创建时间</th>
                    <th >操作&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="layui-btn" onclick="addpage('/monitor/monitoradd')"><i class="layui-icon">&#xe608;</i> 添加</button>
                    </th>
                </tr>
                </thead>
                <tbody id="monitor_list_tbody">
                <#list monitors as p>
                <tr>
                    <td>${p.id!''}</td>
                    <td>${p.name!''}</td>
                    <td>${p.userid!''}</td>
                    <td>${p.location!''}</td>
                    <td>${p.version!''}</td>
                    <td>${p.states?string("在线","离线")}</td>
                    <td>${p.createdate!''}</td>
                    <td>
                        <button class="layui-btn" onclick="showpage('/monitorshow/',${p.id!''})"><i class="layui-icon">&#xe715;</i></button>
                        <button class="layui-btn" onclick="editpage('/monitor/',${p.id!''})"><i class="layui-icon">&#xe642;</i></button>
                        <button class="layui-btn" onclick="del('/monitor/',${p.id!''})"><i class="layui-icon">&#xe640;</i></button>
                    </td>
                </tr>
                </#list>
                </tbody>
            </table>
        </div>
    </div>
    <!--用户列表-->
</div>

<!--<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'monitor' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 20 //数据总数，从服务端得到
        });
    });
</script>-->
<!--右边主体内容-->
<!--事件函数js代码-->
<#include "${request.contextPath}/include/footop.html"/>
</body>
</html>
