
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>养花知识大全_养花知识技巧资料(养花常识) - 花卉网</title>
    <meta content="养花知识,花卉养护知识,养花常识,养花知识技巧,养花知识大全,养花资料" name="keywords" />
    <meta content="花卉网养花知识频道，为广大花友们提供全面的养花知识大全，包括：养花知识、花卉养护知识、养花常识、养花知识技巧、养花知识大全、养花资料。城市的人们也需要花卉来点缀生活，花卉网养花知识频道，努力为爱花的人搭建一个平台，同时也为一些花卉爱好者提供大量的花卉知识。" name="description" />
    <meta name="baidu_union_verify" content="fbb64f6975954218843adbd5f597779d">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src='js/jquery.min.js'></script>
    <script src="js/common.js"></script>

    <link href="http://static.huashichang.com/css/css.php?t=css&f=global.css,main.css,module.css,menu.css,form.css,article.css&v=201812211030now.css" rel="stylesheet" type="text/css" />
    <script>
        var SITE_URL  = 'http://www.aihuhua.com';var UPLOAD_URL= '/data/upload';var THEME_URL = 'http://static.huashichang.com';var APPNAME   = 'weiba';var MID='0';var UID= '0';var initNums= '140';var SYS_VERSION = '201812211030';var LANG = new Array();
    </script>
    <script src="http://static.huashichang.com/js/js.php?t=js&f=jquery-1.7.1.min.js,jquery.form.js,common.js,core.js,module.js,module.common.js,jwidget_1.0.0.js,jquery.atwho.js,jquery.caret.js,ui.core.js,ui.draggable.js,jquery-lazyload.js,plugins/core.comment.js&v=201812211030.js"></script>
    <!--{1:Addons::hook('public_head',array('uid'=>$uid))}-->
</head>
<body>
<#include "${request.contextPath}/include/header.html"/>
<#include "${request.contextPath}/include/nav.html"/>

<div class="content">

    <!-- catehead -->
    <div class="catehead">
        <a href="#" class="on">养花知识</a>
        <a href="#" class="on" title="养花知识主题站全部文章">全部</a>
        <a href=#"  title="养花知识主题站精华文章">精华</a>
        <a class="action_tip">共有1094篇文章</a>
        <div class="seachform">
            <form  name="search_weiba" id="search_weiba" method="post" action="http://www.aihuhua.com/index.php?app=weiba&mod=Index&act=search">
                <input autocomplete="off" id="searchweiba_input" class="input"  type="text" value="搜主题站/文章" onfocus="this.value=''" onblur="setTimeout(function(){ $('#search-box').remove();} , 200);if(this.value=='') this.value='搜主题站/文章';" event-node="searchKey" name='k' />
                <a href="javascript:void(0)" rel="nofollow" class="submit" onclick="if(getLength($('#searchweiba_input').val()) && $('#searchweiba_input').val()!=='搜主题站/文章'){ doWeibaSearch(); return false;}">搜索</a>
                <input type="hidden" name="__hash__" value="e7aa118b659072323d7d898913cd0bce_0f548b473c45a88a031bb585aa55bd0d" /></form>
        </div>

    </div>

    <script type="text/javascript">
        function doWeibaSearch()
        {
            if(getLength($('#searchweiba_input').val()) && $('#searchweiba_input').val()!=='搜')
            {
                var k = encodeURIComponent($('#searchweiba_input').val());
                location.href =  "/so/wenzhang-"+k+"/" ;
                return false;
            }
            return false ;
        }
    </script>

    <div class="content">

        <div class="contbox">
            <ul class="list">
                <li>
                    <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cy.html" title="听说这6种花也适合急性子人养，易养易爆盆！" target="_blank"><img alt="听说这6种花也适合急性子人养，易养易爆盆！" title="听说这6种花也适合急性子人养，易养易爆盆！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0905/16/5d70c6154cd8d_190_auto.jpg" class="lazy" /></a>
                    <label class="info">
                        <b class="title"><a title="听说这6种花也适合急性子人养，易养易爆盆！" href="http://www.aihuhua.com/wenzhang/yanghua2cy.html" target="_blank">听说这6种花也适合急性子人养，易养易爆盆！ <i class="ico-img"></i>   </a></b>
                        <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 09月05日 16:26</p>
                        <p class="desc">小编有个急性子的朋友，说话做事雷厉风行，特别讲究效率，最近可能是受小编的影响，也想养些花草，把家里装点一下，对于这么“高效”的人来说，当然要推荐一些长的快、开花快的品种，绝对不能打马虎眼呀~


                            ...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cy.html">查看全文</a>)</p>
                        <p class="action">
                            <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                            <label class="up">0评论</label>
                            <span class="read">95次阅读</span>
                        </p>
                    </label>
                </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cx.html" title="9月就养这四种植物，天天好运！" target="_blank"><img alt="9月就养这四种植物，天天好运！" title="9月就养这四种植物，天天好运！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0904/16/5d6f76138471d_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="9月就养这四种植物，天天好运！" href="http://www.aihuhua.com/wenzhang/yanghua2cx.html" target="_blank">9月就养这四种植物，天天好运！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 09月04日 16:33</p>
                    <p class="desc">不知不觉已进入九月，秋意渐浓，天气越发的凉爽，常听人说“金九银十”，九月、十月正是秋收时节，是收获的季节。那么适逢“金九”，家里养些什么植物，旺财又旺福呢？今天，小编就给大家介绍几种好运植物，希望大家...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cx.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">121次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cv.html" title="这5种花都不用扦插，插盆里就能活！" target="_blank"><img alt="这5种花都不用扦插，插盆里就能活！" title="这5种花都不用扦插，插盆里就能活！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0902/15/5d6ccbcb86387_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这5种花都不用扦插，插盆里就能活！" href="http://www.aihuhua.com/wenzhang/yanghua2cv.html" target="_blank">这5种花都不用扦插，插盆里就能活！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 09月02日 16:01</p>
                    <p class="desc">有5种花，真是让人养到烦，原因就是它们太能长了，一个籽、一片叶子、一根枝掉地上都能活，没几天就重新冒一棵出来，年年长成一大簇，清都清不完···这样的花，你想养吗？



                        紫茉莉
                        夏天最热的时...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cv.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">135次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cs.html" title="养花有5个好处，你知道吗？" target="_blank"><img alt="养花有5个好处，你知道吗？" title="养花有5个好处，你知道吗？" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0827/16/5d64ea605097d_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="养花有5个好处，你知道吗？" href="http://www.aihuhua.com/wenzhang/yanghua2cs.html" target="_blank">养花有5个好处，你知道吗？ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月27日 16:33</p>
                    <p class="desc">要说这养花的好处啊，小编能说上一天一夜还不带重样的。因为养花的好处实在是太多了，今天咱们就来聊一聊养花究竟给我们的生活都带来了哪些好处呢？

                        &nbsp;

                        浇水施肥，锻炼身体
                        现在坐办公室...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cs.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">289次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cr.html" title="这8种花一天一碗水，千万不要怠慢了！" target="_blank"><img alt="这8种花一天一碗水，千万不要怠慢了！" title="这8种花一天一碗水，千万不要怠慢了！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0826/16/5d6395c283166_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这8种花一天一碗水，千万不要怠慢了！" href="http://www.aihuhua.com/wenzhang/yanghua2cr.html" target="_blank">这8种花一天一碗水，千万不要怠慢了！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月26日 16:21</p>
                    <p class="desc">咱们有些花友养花，就喜欢养一些不用费太多心的花！小编今天就给大家推荐几种只需要浇水就能疯长的花，不需要太多精力，轻轻松松就能养爆盆！
                        铜钱草
                        要说这需水多还特别好养的植物，当属这铜钱草...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cr.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">290次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2co.html" title="鲜花插几天就不行了？那不如试试这10个法子~" target="_blank"><img alt="鲜花插几天就不行了？那不如试试这10个法子~" title="鲜花插几天就不行了？那不如试试这10个法子~" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0826/10/5d633eacc17cb_190_auto.jpeg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="鲜花插几天就不行了？那不如试试这10个法子~" href="http://www.aihuhua.com/wenzhang/yanghua2co.html" target="_blank">鲜花插几天就不行了？那不如试试这10个法子~ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/393841/' target='_blank' uid='393841' event-node='face_card'>小花</a>发表于 08月26日 10:09</p>
                    <p class="desc">
                        1. 使用干净的花瓶
                        首先需要保证你使用的花瓶要是干净的，而且用的水需要是清澈新鲜的。
                        2. 将根茎按角度剪切
                        ...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2co.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">151次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cn.html" title="什么季节网购盆栽比较适宜？需要注意什么问题？" target="_blank"><img alt="什么季节网购盆栽比较适宜？需要注意什么问题？" title="什么季节网购盆栽比较适宜？需要注意什么问题？" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0826/09/5d633c7b13494_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="什么季节网购盆栽比较适宜？需要注意什么问题？" href="http://www.aihuhua.com/wenzhang/yanghua2cn.html" target="_blank">什么季节网购盆栽比较适宜？需要注意什么问题？ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/393841/' target='_blank' uid='393841' event-node='face_card'>小花</a>发表于 08月26日 09:58</p>
                    <p class="desc">
                        越来越多的人喜欢在网上上购买花卉，但是网购往往也隐藏很多问题，什么季节网上买盆栽比较适宜？网购盆栽要注意什么问题？
                        一般情况下，网购花卉在春...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cn.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">155次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cl.html" title="秋季养花掌握6点就能轻松爆盆！" target="_blank"><img alt="秋季养花掌握6点就能轻松爆盆！" title="秋季养花掌握6点就能轻松爆盆！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0823/16/5d5f9ea9e97fd_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="秋季养花掌握6点就能轻松爆盆！" href="http://www.aihuhua.com/wenzhang/yanghua2cl.html" target="_blank">秋季养花掌握6点就能轻松爆盆！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月23日 16:12</p>
                    <p class="desc">时光如白驹过隙，转眼间，已是秋风阵阵，神清气爽，虽说秋季并不是花卉的生长旺季，但这个季节对花卉爱好者来说也是万分重要的，只有掌握下面这六个要点，才能彻底管理好花卉，让家中花开爆盆，成就感满满！
                        ...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cl.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">233次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2ci.html" title="这6种植物太矫情，一淋雨就生病！" target="_blank"><img alt="这6种植物太矫情，一淋雨就生病！" title="这6种植物太矫情，一淋雨就生病！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0819/16/5d5a618b39503_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这6种植物太矫情，一淋雨就生病！" href="http://www.aihuhua.com/wenzhang/yanghua2ci.html" target="_blank">这6种植物太矫情，一淋雨就生病！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月19日 16:48</p>
                    <p class="desc">盛夏的雨水多，有些花爱喝雨水，淋场雨就精神了，而有些花却偏不能淋雨，本来长的好好的，一淋雨就生病，治不好还会传染···大家一定要分清，千万别把花白白淋坏了！
                        多肉
                        大部分的多肉，夏天会...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2ci.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">386次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2ce.html" title="这9种植物摆家里真的太好看了，邻居都眼馋！" target="_blank"><img alt="这9种植物摆家里真的太好看了，邻居都眼馋！" title="这9种植物摆家里真的太好看了，邻居都眼馋！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0816/16/5d566a0bd1db1_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这9种植物摆家里真的太好看了，邻居都眼馋！" href="http://www.aihuhua.com/wenzhang/yanghua2ce.html" target="_blank">这9种植物摆家里真的太好看了，邻居都眼馋！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月16日 16:35</p>
                    <p class="desc">要说这网红绿植，小编最先想到的就是龟背竹、琴叶榕、橡皮树了。正值这夏日炎炎，今天小编再给大家推荐几种其他的网红绿植，养一盆放在家里，下班回家就能看到绿油油的小森林，暑气已经消了一半，而且家里档次立刻提...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2ce.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">434次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cc.html" title="听说今年特别流行种草，这15种草，你认识几种？" target="_blank"><img alt="听说今年特别流行种草，这15种草，你认识几种？" title="听说今年特别流行种草，这15种草，你认识几种？" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0814/15/5d53bf2110b27_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="听说今年特别流行种草，这15种草，你认识几种？" href="http://www.aihuhua.com/wenzhang/yanghua2cc.html" target="_blank">听说今年特别流行种草，这15种草，你认识几种？ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月14日 16:03</p>
                    <p class="desc">立秋一过，院子里的花草绿油油一大片，没剩下几个开花的，唯有种下的观赏草，依旧精神十足，微风吹过的时候，甚至比花还好看，最适合有院子的花友栽种哦~



                        兔尾草
                        兔尾草，算是狗尾草的进阶版，毛...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cc.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">437次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2cb.html" title="这6种花花苞非常大，特别的气派！" target="_blank"><img alt="这6种花花苞非常大，特别的气派！" title="这6种花花苞非常大，特别的气派！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0813/16/5d5272f25c741_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这6种花花苞非常大，特别的气派！" href="http://www.aihuhua.com/wenzhang/yanghua2cb.html" target="_blank">这6种花花苞非常大，特别的气派！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月13日 16:23</p>
                    <p class="desc">今年各种小草花都特别火，细细碎碎的小花爆满一大盆，漂亮又养眼，但俗话说，各花入各眼，还有不少花友就喜欢大花、甚至是超大花，那小编今天就给大家盘点几种性价比非常高的漂亮大花！



                        绣球花
                        绣...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2cb.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">29738次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2c7.html" title="你养的花不开花，快看看是不是这几个原因！" target="_blank"><img alt="你养的花不开花，快看看是不是这几个原因！" title="你养的花不开花，快看看是不是这几个原因！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0807/16/5d4a852a1dded_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="你养的花不开花，快看看是不是这几个原因！" href="http://www.aihuhua.com/wenzhang/yanghua2c7.html" target="_blank">你养的花不开花，快看看是不是这几个原因！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 08月07日 16:02</p>
                    <p class="desc">不少花友在养花过程中都会发现，辛辛苦苦养的花好久也不见开，好不容易萌生了一两个花蕾还掉落了，造成这个现象出现大抵跟你没做好这几个方面有关系，快一起来看看问题出在哪里了吧！
                        光照温度不适宜...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2c7.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">463次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2c0.html" title="天太热就养这5种花，超级耐旱型！" target="_blank"><img alt="天太热就养这5种花，超级耐旱型！" title="天太热就养这5种花，超级耐旱型！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0731/16/5d4157bce5a93_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="天太热就养这5种花，超级耐旱型！" href="http://www.aihuhua.com/wenzhang/yanghua2c0.html" target="_blank">天太热就养这5种花，超级耐旱型！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月31日 17:00</p>
                    <p class="desc">有些花一开花就是艳丽的红色，天生自带喜庆感。摆一盆放在家里，别提多红火了。今天小编给大家介绍几种红红火火的富贵花，养在家里好运连连！

                        鸿运当头
                        鸿运当头开花时整个花朵为大红色，花蕊也是...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2c0.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">514次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2bz.html" title="这12种植物，夏天要少浇水，不然死给你看！" target="_blank"><img alt="这12种植物，夏天要少浇水，不然死给你看！" title="这12种植物，夏天要少浇水，不然死给你看！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0730/15/5d3ff190148f7_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这12种植物，夏天要少浇水，不然死给你看！" href="http://www.aihuhua.com/wenzhang/yanghua2bz.html" target="_blank">这12种植物，夏天要少浇水，不然死给你看！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月30日 15:32</p>
                    <p class="desc">夏天高温，好多花都开始休眠，这个时候如果你还是不管不顾给它浇水，那后果将是一死死一片，其实，有些花真是天越热，越要少浇水哦，一起来和小编看看，都有哪些花吧！


                        长寿花
                        长寿花非常难度夏，尤其...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2bz.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">781次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2by.html" title="养花新手千万不要养这6种植物，养一盆死一盆！" target="_blank"><img alt="养花新手千万不要养这6种植物，养一盆死一盆！" title="养花新手千万不要养这6种植物，养一盆死一盆！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0729/16/5d3eaa53b7591_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="养花新手千万不要养这6种植物，养一盆死一盆！" href="http://www.aihuhua.com/wenzhang/yanghua2by.html" target="_blank">养花新手千万不要养这6种植物，养一盆死一盆！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月29日 16:15</p>
                    <p class="desc">养花这么多年，对于有些花来说，养不养的活还是要靠“运气”，因为这些花真的太难养了，动不动就死，买回家还没见到花开就翘辫子了···今天小编就来集中讲讲，这些难养的花，到底有多难养！



                        栀子花...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2by.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">722次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2b1.html" title="这10种花夏天千万别养，一养就死！" target="_blank"><img alt="这10种花夏天千万别养，一养就死！" title="这10种花夏天千万别养，一养就死！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0709/15/5d2448c272c55_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这10种花夏天千万别养，一养就死！" href="http://www.aihuhua.com/wenzhang/yanghua2b1.html" target="_blank">这10种花夏天千万别养，一养就死！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月09日 16:00</p>
                    <p class="desc">最近温度飙升，真是为家里的花捏了一把汗。有些花天一热就容易死，根本不好度夏。所以，今天小编就总结了简单易学的度夏方法，赶紧学1招，度夏再也不怕了！
                        倒挂金钟难度夏，一过夏天就死！
                        倒挂金钟颜值真是...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2b1.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">1评论</label>
                        <span class="read">537次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2br.html" title="夏天到了，你最需要的是这5种耐旱又好养的植物！" target="_blank"><img alt="夏天到了，你最需要的是这5种耐旱又好养的植物！" title="夏天到了，你最需要的是这5种耐旱又好养的植物！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0719/15/5d316af03e823_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="夏天到了，你最需要的是这5种耐旱又好养的植物！" href="http://www.aihuhua.com/wenzhang/yanghua2br.html" target="_blank">夏天到了，你最需要的是这5种耐旱又好养的植物！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月19日 15:05</p>
                    <p class="desc">夏天天气炎热，很多花草不喜夏季的高温天气，一到夏天就萎靡不振，失去活力，今天小编推荐几种耐旱好养的植物，即使在夏天也精神抖擞、活力十足，希望大家喜欢！



                        百日菊
                        百日菊又叫百日草，是菊科...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2br.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">766次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2bq.html" title="养花就要戒掉这8个坏习惯！" target="_blank"><img alt="养花就要戒掉这8个坏习惯！" title="养花就要戒掉这8个坏习惯！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0718/16/5d302c03dd9d7_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="养花就要戒掉这8个坏习惯！" href="http://www.aihuhua.com/wenzhang/yanghua2bq.html" target="_blank">养花就要戒掉这8个坏习惯！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月18日 16:24</p>
                    <p class="desc">刚开始养花，总是会出现黄叶、烂根等现象，有时候不是花难养，而是养花的习惯不好，今天小编给大家总结了新手养花最常见的8个坏习惯，快看你有没有！



                        杯子里的水随手倒在花盆里
                        很多人都喜欢把杯...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2bq.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">614次阅读</span>
                    </p>
                </label>
            </li><li>
                <a class="img" href="http://www.aihuhua.com/wenzhang/yanghua2bp.html" title="这5种花既能观赏也能泡水，清热去火解暑气！" target="_blank"><img alt="这5种花既能观赏也能泡水，清热去火解暑气！" title="这5种花既能观赏也能泡水，清热去火解暑气！" width="180" src="http://static.huashichang.com/image/grey.gif"  data-original="http://pic1.huashichang.com/2019/0717/15/5d2eca4d0c563_190_auto.jpg" class="lazy" /></a>
                <label class="info">
                    <b class="title"><a title="这5种花既能观赏也能泡水，清热去火解暑气！" href="http://www.aihuhua.com/wenzhang/yanghua2bp.html" target="_blank">这5种花既能观赏也能泡水，清热去火解暑气！ <i class="ico-img"></i>   </a></b>
                    <p class="data"><a href='http://www.aihuhua.com/yonghu/4/' target='_blank' uid='4' event-node='face_card'>爱养花</a>发表于 07月17日 15:14</p>
                    <p class="desc">夏季炎热难免上火，今天小编给大家推荐几种花，这些花不光好看，做成花茶可以降火消暑，是夏日必备得花茶哦，快来看看吧~&nbsp;



                        清凉降火—玫瑰花草茶
                        据《本草纲目》记载，玫瑰花可以调和...(<a rel="nofollow" href="http://www.aihuhua.com/wenzhang/yanghua2bp.html">查看全文</a>)</p>
                    <p class="action">
                        <span class="from">来自:<a title="养花知识主题站" rel="nofollow" href="http://www.aihuhua.com/zhuti/yanghuazhishi/">养花知识</a>主题站</span>
                        <label class="up">0评论</label>
                        <span class="read">591次阅读</span>
                    </p>
                </label>
            </li>			</ul>

            <!-- pagination -->
            <div class="pagination"> <a class='current' rel='nofollow'>1</a><a href='/zhuti/yanghuazhishi/page-2.html'>2</a><a href='/zhuti/yanghuazhishi/page-3.html'>3</a><a href='/zhuti/yanghuazhishi/page-4.html'>4</a><a href='/zhuti/yanghuazhishi/page-5.html'>5</a><a href='/zhuti/yanghuazhishi/page-55.html' >..55</a><a href='/zhuti/yanghuazhishi/page-2.html' class='next'>下一页</a></div>



        </div>
    </div>

    <script type="text/javascript">$(function(){ $("img.lazy").lazyload({effect:"fadeIn"});});</script>

</div>

<#include "${request.contextPath}/include/footer.html"/>





</body>
</html>