<!-- 模态框 -->
<!--<div class="modal fade bs-example-modal-sm" id='unsupported'>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示消息！</h4>
      </div>
      <div class="modal-body">
        <p>您的浏览器过低！请使用新版浏览器查看！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
&lt;!&ndash;底部内容&ndash;&gt;
<div class="container" id='footer'>
  <p>版权所有 吉林大学（<a href="https://blog.csdn.net/liudongdong19" target="_blank">博客地址</a>） 设计维护</p>
  <p>Copyright © Liudongdong JiLin University . All Rights Reserved.</p>
</div>-->
<!--底部内容-->
