<!-- 前端模板：左侧菜单部分 -->
<!--左侧菜单栏-->
<div id="sidebar">
    <ul style="display: block;">
        <li class="active"><a href="/index"><i class="icon icon-home"></i> <span>首页</span></a> </li>
        <li><a href="/monitor/list"><i class="icon icon-th"></i><span>项目监控</span></a></li>
        <li class="submenu">
            <a><i class="icon icon-pencil"></i> <span>历史信息</span><span class="label label-primary pull-right ">3</span></a>
            <ul>
                <li><a href="/alarm/list">报警信息</a></li>
                <li><a href="/sensordata/list">传感器参数</a></li>
                <li><a href="/datarestore">数据备份</a></li>
            </ul>
        </li>
         <li class="submenu">
             <a><i class="icon icon-pencil"></i> <span>花卉宝典</span> <span class="label label-primary pull-right ">3</span></a>
          <ul>
            <li><a href="/flower/list">在种花卉</a></li>
            <li><a href="/resourselist">花卉大全</a></li>
            <li><a href="/dairylist">养花日记</a></li>
          </ul>
        </li>
        <li class="submenu">
            <a>
                <i class="icon icon-th-list"></i> <span>设备管理</span> <span class="label label-primary pull-right ">2</span>
            </a>
            <ul>
                <li><a href="/deviceinfo/list">设备基本信息</a></li>
                <li><a href="/operationinfo/list">设备维护信息</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>
                <i class="icon icon-th-list"></i> <span>用户管理</span> <span class="label label-primary pull-right ">2</span>
            </a>
            <ul>
                <li><a href="/userinfo/list">用户基本信息</a></li>
                <li><a href="/operationinfo/list">用户操作信息</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--左侧菜单栏-->