<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="${request.contextPath}/lib/layui/css/layui.css">
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <form class="layui-form"  onsubmit="return add('/operationinfo')">
            <table class="layui-table">
                <thead>
                <td align="center">注册信息填写</td>
                </thead>
                <tr>
                    <td style="width: 100px">设备ID：</td>
                    <td>
                        <input type="text"  name="deviceid"  lay-verify="required" autocomplete="off" class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">用户ID：</td>
                    <td>
                        <input type="text"  name="userid"  lay-verify="required" autocomplete="off" class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">故障原因：</td>
                    <td>
                        <input type="text"  name="operatereason"  lay-verify="required" autocomplete="off" class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">操作信息：</td>
                    <td>
                        <input type="text"  name="operateinfo"  lay-verify="required" autocomplete="off" class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">创建日期：</td>
                    <td>
                        <input type="date"  name="createdate"  lay-verify="required" autocomplete="off" class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td>操作：</td>
                    <td>
                        <button type="submit" class="layui-btn">添加</button>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;" id="message"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--事件函数js代码-->
<#include "${request.contextPath}/include/footop.html"/>
</body>
</html>
