<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="Shortcut Icon" href="${request.contextPath}/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/lib/layui/css/layui.css">
</head>
<body>

<!--右边主体内容-->
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <form class="layui-form" >
            <p align="center">查看信息</p>
            <table class="layui-table">
                <tr>
                    <td style="width: 100px">记录ID：</td>
                    <td>${operationInfo.id!''}</td>
                </tr>
                <tr>
                    <td style="width: 100px">设备ID：</td>
                    <td>${operationInfo.deviceid!''}</td>
                </tr>
                <tr>
                    <td style="width: 100px">用户ID：</td>
                    <td>${operationInfo.userid!''}</td>
                </tr>
                <tr>
                    <td style="width: 100px">故障原因：</td>
                    <td>${operationInfo.operatereason!''}</td>
                </tr>
                <tr>
                    <td style="width: 100px">操作信息：</td>
                    <td>${operationInfo.operateinfo!''}</td>
                </tr>
                <tr>
                    <td style="width: 100px">创建日期：</td>
                    <td>${(operationInfo.createdate?string("yyyy-MM-dd"))!''}</td>
                </tr>
            </table>
        </form>
    </div>
</div>
</div>
</body>
</html>
