<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花卉培育管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="Shortcut Icon" href="${request.contextPath}/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/lib/layui/css/layui.css">
</head>
<body>

<!--右边主体内容-->
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <form class="layui-form"  onsubmit="return update('/deviceinfo')">
            <p align="center">编辑信息</p>
            <table class="layui-table">
                <tr>
                    <td style="width: 100px">设备名称：</td>
                    <td>
                        <input type="text" value="${device.devicename!''}" name="devicename" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">生产厂家：</td>
                    <td>
                        <input type="text" value="${device.factory!''}" name="factory" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">价格：</td>
                    <td>
                        <input type="text" value="${device.price!''}" name="price" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">设备链接：</td>
                    <td>
                        <input type="text" value="${device.deviceurl!''}" name="deviceurl" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">购买时间：</td>
                    <td>
                        <input type="date" value=${(device.createdate?string("yyyy-MM-dd"))!''} name="createdate" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">设备描述信息：</td>
                    <td>
                        <input type="text" value="${device.description!''}" name="description" required  class="layui-input" >
                    </td>
                </tr>
                <tr>
                    <td>操作：</td>
                    <td>
                        <button type="submit" class="layui-btn">更新</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--事件函数js代码-->
<#include "${request.contextPath}/include/footop.html"/>
</div>
</body>
</html>
